.App {
  text-align: center;
}



h1 {
  font-family: 'Koulen',
    cursive;
  font-size: 7rem;
  position: relative;
  display: inline-block;
  color: black;
  text-transform: uppercase;
  padding: 15px;
  margin: 20px;
  letter-spacing: 35px;
  text-shadow: 5px 8px rgb(215, 234, 75);
}


.title {
  font-family: 'Koulen', cursive;
  font-size: 3rem;
  animation: spacing 2s 1;
  animation-delay: 0.5s;
  margin: 25px;
}

@keyframes spacing {
  50% {
    letter-spacing: 10px;
  }
}

.home {
  background-image: url('https://images.unsplash.com/photo-1542273917363-3b1817f69a2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1474&q=80');
  height: 900px;
}

.navbar {
  background-color: rgb(215, 234, 75);
  font-size: 20px;
  padding: 10px;
  text-align: left;
}

.nav-item {
  text-decoration: none;
  color: black;
  padding: 10px;
  margin: 15px;
}

.nav-item:hover {
  background-color: rgb(230, 240, 156);
}

.landing {
  padding: 15px;
  font-size: 20px;
  margin: 20px;
  background-color: rgb(215, 234, 75);
  width: 200px;
  border-radius: 15px;
}

.landing:hover {
  box-shadow: rgba(73, 87, 32, 0.8) 15px 15px;

}

.link {
  text-decoration: none;
  color: black;
}

.land-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ******register */

.form {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  padding: 10px;
  width: 450px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.register {
  background-image: url('https://images.unsplash.com/photo-1542273917363-3b1817f69a2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1474&q=80');
  height: 900px;

}

.input1 {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  border-radius: 15px;
  border: none;
  width: 250px;
}

.sub-btn {
  padding: 10px;
  font-size: 16px;
  margin: 20px;
  background-color: rgb(215, 234, 75);
  width: 200px;
  border-radius: 15px;
  color: black;
}

.sub-btn:hover {
  box-shadow: rgba(73, 87, 32, 0.8) 15px 15px;

}

/********* posts */

.post-container {
  background-image: url('https://images.unsplash.com/photo-1542273917363-3b1817f69a2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1474&q=80');
  background-size: repeat;
  text-align: center;

}

img {
  height: 350px;
  width: 400px;
}

.post-square {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  text-align: center;
  margin: 20px;
  padding: 10px;


}

.square {
  margin: 20px 30px;
  padding: 10px 10px;
  background-color: white;
  border: 5px solid rgba(73, 87, 32, 0.8);
  box-shadow: rgba(0, 0, 0, 0.761) 0px 54px 55px 15px,
    rgba(0, 0, 0, 0.198) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.square:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}


.post-title {
  font-family: 'Koulen',
    cursive;
  font-size: 50px;
  padding: 10px 25px;
  box-shadow: rgba(0, 0, 0, 0.85) 0px 5px 15px;
  border-radius: 20px;
  background-color: rgb(215, 234, 75);
  margin: 25px;
}

.img-map {
  border: 15px solid white;
  width: 700px;
  box-shadow: rgba(0, 0, 0, 0.85) 0px 20px 15px;
}

.land {
  height: 400px;
  width: 500px;
  border: 15px solid white;
  box-shadow: rgba(0, 0, 0, 0.85) 0px 20px 15px;
  margin: 10px 10px 20px 10px;
}

.post-content {
  font-size: 20px;
  background-color: white;
  width: 500px;
  padding: 20px;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.85) 0px 5px 15px;
}

.rating {
  font-size: 18px;
  background-color: white;
  width: 400px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.85) 0px 5px 15px;
  border-radius: 20px;
  background-color: rgb(215, 234, 75);
  margin: 20px;
  display: block;
}

.comments {
  font-size: 18px;
  background-color: white;
  width: 400px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.85) 0px 5px 15px;
  border-radius: 20px;
  background-color: rgb(183, 190, 123);
  margin: 20px;
}

.grid-title {
  font-size: 20px;
  font-family: 'Roboto Flex',
    sans-serif;
  font-weight: bold;
}

/* ************add post */

.form-form {
  background-image: url('https://images.unsplash.com/photo-1542273917363-3b1817f69a2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1474&q=80');
  background-size: cover;
  padding: 20px;
  height: 900px;

}

.submit-form {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  padding: 25px;
  margin: 20px;
  width: 450px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.input {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  border-radius: 15px;
  border: none;
  width: 280px;
}


.bkground {
  background-image: url('https://images.unsplash.com/photo-1542273917363-3b1817f69a2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1474&q=80');
  background-size: cover;
  text-align: center;
  height: 500px;

}

h2 {
  font-size: 30px;
  font-family: 'Roboto Flex',
    sans-serif;
  font-weight: bold;
  padding: 15px;
  margin-bottom: 20px;

}

h3 {
  font-size: 20px;
  font-family: 'Roboto Flex',
    sans-serif;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 20px;
}

.hike-names {
  font-size: 24px;
  font-weight: bolder;
}

.hikes-square {
  background-color: white;
  border: 10px solid rgb(183, 190, 123);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.mar {
  margin-bottom: 30px;
}

/* *******comments */

.add-comment {
  font-family: 'Koulen',
    cursive;
  font-size: 20px;
  padding: 10px 25px;
  box-shadow: rgba(0, 0, 0, 0.85) 0px 5px 15px;
  border-radius: 20px;
  background-color: rgb(215, 234, 75);
  text-decoration: none;
  color: black;
  margin-bottom: 25px;
  width: 400px;
}

.add-comment:hover {
  color: rgb(89, 119, 61);
  box-shadow: rgba(73, 87, 32, 0.8) 15px 15px;
}

.bkground2 {
  background-image: url('https://images.unsplash.com/photo-1542273917363-3b1817f69a2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1474&q=80');
  background-size: cover;
  text-align: center;
}

.stopwatch-btn {
  margin: 20px;
  padding: 15px 25px;
  background-color: rgb(183, 190, 123);
  border: none;
  font-size: 20px;
  font-family: 'Roboto Flex',
    sans-serif;
  border-radius: 20px;

}

.stopwatch-btn:hover {
  background-color: rgb(220, 225, 177);
  box-shadow: rgba(73, 87, 32, 0.8) 10px 10px;
}


/* ******weather */
.weather {
  font-family: 'Koulen',
    cursive;
  font-size: 20px;
  padding: 10px 25px;
  box-shadow: rgba(0, 0, 0, 0.85) 0px 5px 15px;
  border-radius: 20px;
  background-color: rgb(215, 234, 75);
  text-decoration: none;
  color: black;
  margin: 25px;
  width: 400px;
}
